/* pre-loader */
           #qLoverlay::after {
               color: {color:Loading Screen Bar Color};
               content: '{text:Pre Loader Text Message}';
           }

           (function () {
    // # Pre loader
    window.addEventListener('DOMContentLoaded', function() {
        new QueryLoader2(document.querySelector("body"), {
            barColor: "{color:Loading Screen Bar Color}",
            backgroundColor: "{color:Loading Screen Background Color}",
            percentage: false,
            barHeight: 2,
            minimumTime: 200,
            fadeOutTime: 1000
        });
    });
})();

h5 {

}

p {

}

li {

}

<!-- external stylesheets -->
<link rel="stylesheet" href="//static.tumblr.com/honophf/oD9oz5mht/main.min.css">
<script src="//static.tumblr.com/cmghtlm/otvnkkd1g/modernizr.js"></script>
<script src="//static.tumblr.com/cmghtlm/evUnkz8ov/queryloader2.min.js" type="text/javascript"></script>
<script src="//static.tumblr.com/vppzax2/6nOolnayz/resizesensor.js"></script>
<script src="//static.tumblr.com/vppzax2/3myolnazi/elementqueries.js"></script>

<style type="text/css">
